<template>
  <v-container>
    <v-layout row wrap>

      <v-flex xs12>
        <v-select
            :items="places"
            label="Выберите заведение"
            solo
            v-model='selectPlace'
            item-text="name"
            item-value="id"
          ></v-select>
      </v-flex>
      <v-flex xs12>
        <v-data-table
          :headers="headers"
          :items="customers"
          hide-actions
          class="elevation-1"
        >
          <template slot="items" slot-scope="props">

            <td>
              <v-avatar

                size="50"
                color="grey lighten-4"
              >
                <img :src="props.item.guest.avatar" alt="avatar">
              </v-avatar>
            </td>
            <td>{{ props.item.guest.name }}</td>
            <td>{{ props.item.guest.birthdate }}</td>
            <td>
              <span v-if='props.item.guest.gender'>
                М
              </span>
              <span v-else>
                Ж
              </span>
            </td>
            <td>
              <v-chip color="red" text-color="white">Спорт</v-chip>
              <v-chip color="green" text-color="white">Мясо</v-chip>
            </td>
            <td>{{ formatDate(new Date(props.item.last_visit)) }}</td>
            <td>{{ props.item.visit_count }}</td>

          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
  import faker from 'faker';

  export default{
      data: ()=>{
        return {
          headers: [
            {
              text: 'Аватар',
              align: 'left',
              value: 'guest.avatar'
            },
           {
             text: 'Имя',
             align: 'left',
             value: 'name'
           },
           { text: 'День рождения', value: 'age' },
           { text: 'Пол', value: 'gender' },
           { text: 'Интересы', value: 'hobby' },
           { text: 'Последнее посещение', value: 'date' },
           { text: 'Количество посещение', value: 'count' },
         ],
         selectPlace:false,
         customers: [],
         places: [],
        }
      },
      watch:{
        selectPlace:function(){
          if(this.selectPlace){
            axios.get('/visits/',{
              params:{place:this.selectPlace}
            })
            .then((responce)=>{
              this.customers = responce.data;
            })
          }

        }
      },
      mounted:function(){
        axios.get('/userlocations/visited/')
        .then((responce)=>{
          this.places = responce.data;
        })

      },
      computed:{
        getFakeCustomers:function(){
          var list = [];

          for(var i = 0; i < 30; i++){
            list.push({
              avatar: faker.fake("{{image.avatar}}"),
              name: faker.name.findName(),
              age: _.random(12,38),
              gender: "М",
              hobby: [],
              date:  faker.fake("{{date.past}}"),
              count: _.random(1,138),

            });
          }
          return list;
        }
      },
      methods:{
        formatDate:function(date) {
          var diff = new Date() - date; // разница в миллисекундах

          if (diff < 1000) { // прошло менее 1 секунды
            return 'только что';
          }

          var sec = Math.floor(diff / 1000); // округлить diff до секунд

          if (sec < 60) {
            return sec + ' сек. назад';
          }

          var min = Math.floor(diff / 60000); // округлить diff до минут
          if (min < 60) {
            return min + ' мин. назад';
          }

          // форматировать дату, с учетом того, что месяцы начинаются с 0
          var d = date;
          d = [
            '0' + d.getDate(),
            '0' + (d.getMonth() + 1),
            '' + d.getFullYear(),
            '0' + d.getHours(),
            '0' + d.getMinutes()
          ];

          for (var i = 0; i < d.length; i++) {
            d[i] = d[i].slice(-2);
          }

          return d.slice(0, 3).join('.') + ' ' + d.slice(3).join(':');
        }
      }
  }
</script>
