<template>
  <div>
    <v-form>
      <v-container>
        <v-layout row wrap>

          <v-flex xs12>
            <v-text-field
              label="Название компании"
            ></v-text-field>

            <v-text-field
              label="Адресс"
            ></v-text-field>

            <v-combobox
                v-model="model"
                :filter="filter"
                :hide-no-data="!search"
                :items="items"
                :search-input.sync="search"
                hide-selected
                label="Категории заведения"
                multiple
                small-chips
                solo
              >
                <template slot="no-data">
                  <v-list-tile>
                    Нет данных
                  </v-list-tile>
                </template>
                <template
                  slot="selection"
                  slot-scope="{ item, parent, selected }"
                  v-if="item === Object(item)"
                >
                  <v-chip
                    :color="`blue lighten-3`"
                    :selected="selected"
                    label
                    small
                  >
                    <span class="pr-2">
                      {{ item.text }}
                    </span>
                    <v-icon
                      small
                      @click="parent.selectItem(item)"
                    >close</v-icon>
                  </v-chip>
                </template>
                <template
                  slot="item"
                  slot-scope="{ index, item, parent }"
                >
                  <v-list-tile-content>
                    <v-text-field
                      v-if="editing === item"
                      v-model="editing.text"
                      autofocus
                      flat
                      background-color="transparent"
                      hide-details
                      solo
                      @keyup.enter="edit(index, item)"
                    ></v-text-field>
                    <v-chip
                      :color="`blue lighten-3`"
                      dark
                      label
                      small
                      v-else
                    >
                      {{ item.text }}
                    </v-chip>
                  </v-list-tile-content>
                  <v-spacer></v-spacer>
                  <v-list-tile-action @click.stop>
                    <v-btn
                      icon
                      @click.stop.prevent="edit(index, item)"
                    >
                    </v-btn>
                  </v-list-tile-action>
                </template>
              </v-combobox>

            <v-text-field
              label="Средний чек"
            ></v-text-field>
          </v-flex>

        </v-layout>
      </v-container>
    </v-form>
  </div>
</template>
<script>
  export default{
    data: function(){
      return {

        // combo box
        items: [
           { header: 'Выберите опции' },
           {
             text: 'Foo',
           },
           {
             text: 'Bar',
           }
         ],
         nonce: 1,
         menu: false,
         arch: null,
         model: [],
      };
    }
  }
</script>
