<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meet Point</title>
    <meta name="mobile-web-app-capable" content="yes" class="__web-inspector-hide-shortcut__">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="/static/frontcss/app.css">
  </head>
  <body>
    <div id='app'>
      <v-app>

        <v-toolbar app class="main-bottom">
          <v-toolbar-items>

            <v-btn flat class='v-toolbar__button__one-four'
            :to='{name:"history"}'>
              <img src='/static/images/icons/dial.svg' class="toolbar_svg_icon">
            </v-btn>

            <v-btn flat class='v-toolbar__button__one-four'
            :to='{name:"mainmap"}'>
              <img src='/static/images/icons/geo.svg' class="toolbar_svg_icon">
            </v-btn>



            <template v-if='currentUser'>
            <v-btn flat class='v-toolbar__button__one-four'
            :to='{name:"profile"}'>
              <img src='/static/images/icons/account.svg' class="toolbar_svg_icon">
            </v-btn>

            <v-btn flat class='v-toolbar__button__one-four' v-if='place'
            :to='{name:"place"}'
            >
              <img src='/static/images/icons/people.svg' class="toolbar_svg_icon">
            </v-btn>

            <v-btn flat class='v-toolbar__button__one-four' v-if='place'
            :to='{name:"place-chat"}'
            >
              <img src='/static/images/icons/chat.svg' class="toolbar_svg_icon">
            </v-btn>
            </template>
            <template v-else>
              <v-btn flat class='v-toolbar__button__one-four'
              :to='{name:"login-form"}'
              >
                <v-icon large>exit_to_app</v-icon>
              </v-btn>

            </template>

          </v-toolbar-items>
        </v-toolbar>

        <v-content fluid fill-height >
            <div class='place_chips_fixed'>
              <v-chip color="green" text-color="white" v-if='showPlaceChips()' >
                <v-avatar class="green darken-4" v-html='placeData.guests_count'></v-avatar>
                <span v-html='placeData.name'></span>
              </v-chip>

              <v-chip color="blue" text-color="white" v-if='showActionChips()'
              @click="emitActionPlace(action.id)">
                <span v-html='action.name'></span>
                <span>:&nbsp;</span>
                <span v-html='action.action_text'></span>
              </v-chip>
            </div>
            <router-view></router-view>
        </v-content>

      </v-app>
    </div>

    <script type="text/jscript" src="/static/frontjs/app.js"></script>
  </body>
</html>
